{{ 'before-after-slider.css' | asset_url | stylesheet_tag }}

<section class="before-after-slider">
  <div class="before-after-slider__titles page-width">
    <h2>See for yourself</h2>
    <p>These results were shared by actual customers</p>
  </div>
  <div class="before-after-slider__wrapper">
    <div class="swiper before-after-slider__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__images">
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">Before</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'before-slide-1.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">After 2 Weeks</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'after-slide-1.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
            </div>

            <div class="before-after-slider__review">
              “Six months in, Melatonic Growth has filled in my thinning spots and made my hair stronger.” -
              <br>
              <span>Kelly</span>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__images">
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">Before</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'before-slide-2.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">After 60 Days</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'after-slide-2.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
            </div>

            <div class="before-after-slider__review">
              “The dropper makes Melatonic Growth easy to apply—I’ve used it for a month and notice less hair fall!” -
              <br>
              <span>Andrew</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__images">
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">Before</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'after-slide-3.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">After 60 Days</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'before-slide-3.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
            </div>

            <div class="before-after-slider__review">
              “Really impressed with the results so far. My hair feels fuller and healthier, and the shedding has
              definitely decreased.” -
              <br>
              <span>Kelly</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__images">
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">Before</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'after-slide-4.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">After 60 Days</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'before-slide-4.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
            </div>

            <div class="before-after-slider__review">
              “Hands down one of the best hair products I’ve tried. Melatonin for hair? Who knew. My hairline is slowly
              coming back.” -
              <br>
              <span>lily</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__images">
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">Before</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'before-slide-5.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">After 60 Days</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'after-slide-5.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
            </div>

            <div class="before-after-slider__review">
              “I pair this with my nighttime skincare routine and love how it fits into my regimen. Hair feels stronger
              and more resilient” -
              <br>
              <span>maple</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__images">
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">Before</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'before-slide-6.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">After 60 Days</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'after-slide-6.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
            </div>

            <div class="before-after-slider__review">
              “Subtle changes at first, but after 8 weeks I started noticing my hair looked fuller. Will definitely
              repurchase.” -
              <br>
              <span>vivian</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__images">
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">Before</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'before-slide-7.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">After 60 Days</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'after-slide-7.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
            </div>

            <div class="before-after-slider__review">
              “My dermatologist recommended trying melatonin topically. I’m 2 months in and definitely seeing progress
              in thinning spots.” -
              <br>
              <span>ellie</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__images">
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">Before</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'before-slide-8.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">After 60 Days</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'after-slide-8.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
            </div>

            <div class="before-after-slider__review">
              “Great formula—clean ingredients, no irritation, and it actually works. My part line looks denser already”
              -
              <br>
              <span>khloe</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__images">
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">Before</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'before-slide-9.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">After 60 Days</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'after-slide-9.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
            </div>

            <div class="before-after-slider__review">
              “I was skeptical at first, but after 3 months of consistent use, I’ve noticed new baby hairs around my
              temples. This is the only topical that’s actually made a difference!” -
              <br>
              <span>gabby</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__images">
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">Before</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'before-slide-10.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">After 60 Days</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'after-slide-10.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
            </div>

            <div class="before-after-slider__review">
              “Simple to use and very gentle. Other treatments left my scalp irritated, but this one not only calmed
              that down—it actually brought back a lot of hair I thought was gone for good” -
              <br>
              <span>Evan</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__images">
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">Before</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'before-slide-11.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">After 60 Days</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'after-slide-11.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
            </div>

            <div class="before-after-slider__review">
              “Perfect for sensitive scalps. No flaking, itching, or redness at all. After a couple months, I’ve noticed
              the thinning area on the crown is starting to fill in—it’s not dramatic, but definitely fuller and easier
              to style now” -
              <br>
              <span>Alex</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__images">
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">Before</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'before-slide-12.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">After 60 Days</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'after-slide-12.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
            </div>

            <div class="before-after-slider__review">
              “I’ve tried minoxidil before but had side effects. This felt way easier on my scalp, and after sticking
              with it for a couple of months, the crown of my head is starting to fill in again. Really happy with the
              progress so far.” -
              <br>
              <span>Austin</span>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="before-after-slider__slide">
            <div class="before-after-slider__images">
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">Before</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'before-slide-13.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
              <div class="before-after-slider__slide-part">
                <span class="before-after-slider__slide-text">After 60 Days</span>
                <div class="before-after-slider__slide-image">
                  <img src="{{ 'after-slide-13.jpg' | asset_url }}" width="320" height="470" alt="Before">
                </div>
              </div>
            </div>

            <div class="before-after-slider__review">
              “This gave me noticeable results without any scalp irritation. The bald spot on my crown isn’t bald
              anymore—it’s filling in with real hair. Totally worth the routine.” -
              <br>
              <span>David</span>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiperBeforeAfter = new Swiper('.before-after-slider__swiper', {
      spaceBetween: 8,
      slidesPerView: 1.2,
      autoHeight: true,

      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },

      breakpoints: {
        767: {
          spaceBetween: 10,
          slidesPerView: 2,
          autoHeight: true,
        },

        992: {
          spaceBetween: 20,
          slidesPerView: 3,
          centeredSlides: true,
          loop: true,
          autoHeight: true,
        },
      },
    });
  });
</script>

{% schema %}
{
  "name": "Before After Slider",
  "settings": [],
  "presets": [
    {
      "name": "Before After Slider"
    }
  ]
}
{% endschema %}
